# EAGER mode

In [1]:
import pypolars as pl
df = pl.DataFrame({'City':['A','B','C','D','E','F','G','H'],'Temperature':[30,27,32,38,30,27,32,38]})

In [2]:
df

shape: (8, 2)
╭──────┬─────────────╮
│ City ┆ Temperature │
│ ---  ┆ ---         │
│ str  ┆ i64         │
╞══════╪═════════════╡
│ "A"  ┆ 30          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "B"  ┆ 27          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "C"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "D"  ┆ 38          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "E"  ┆ 30          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "F"  ┆ 27          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "G"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "H"  ┆ 38          │
╰──────┴─────────────╯

In [4]:
df.dtypes

[pypolars.datatypes.Utf8, pypolars.datatypes.Int64]

In [5]:
df.columns

['City', 'Temperature']

In [6]:
df.head(4)

shape: (4, 2)
╭──────┬─────────────╮
│ City ┆ Temperature │
│ ---  ┆ ---         │
│ str  ┆ i64         │
╞══════╪═════════════╡
│ "A"  ┆ 30          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "B"  ┆ 27          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "C"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "D"  ┆ 38          │
╰──────┴─────────────╯

In [7]:
df[df['Temperature']>30]

shape: (4, 2)
╭──────┬─────────────╮
│ City ┆ Temperature │
│ ---  ┆ ---         │
│ str  ┆ i64         │
╞══════╪═════════════╡
│ "C"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "D"  ┆ 38          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "G"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "H"  ┆ 38          │
╰──────┴─────────────╯

## concatenating

In [8]:
import numpy as np
df1 = pl.DataFrame({'Humidity':np.random.rand(8)})
df1

shape: (8, 1)
╭──────────╮
│ Humidity │
│ ---      │
│ f64      │
╞══════════╡
│ 0.056    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.05     │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.578    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.193    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.919    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.593    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.324    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.143    │
╰──────────╯

In [9]:
df.hstack(df1.get_columns())

shape: (8, 3)
╭──────┬─────────────┬──────────╮
│ City ┆ Temperature ┆ Humidity │
│ ---  ┆ ---         ┆ ---      │
│ str  ┆ i64         ┆ f64      │
╞══════╪═════════════╪══════════╡
│ "A"  ┆ 30          ┆ 0.056    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "B"  ┆ 27          ┆ 0.05     │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "C"  ┆ 32          ┆ 0.578    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "D"  ┆ 38          ┆ 0.193    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "E"  ┆ 30          ┆ 0.919    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "F"  ┆ 27          ┆ 0.593    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "G"  ┆ 32          ┆ 0.324    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "H"  ┆ 38          ┆ 0.143    │
╰──────┴─────────────┴──────────╯

In [10]:
df2=df.clone()

In [11]:
df2.vstack(df)

shape: (16, 2)
╭──────┬─────────────╮
│ City ┆ Temperature │
│ ---  ┆ ---         │
│ str  ┆ i64         │
╞══════╪═════════════╡
│ "A"  ┆ 30          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "B"  ┆ 27          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "C"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "D"  ┆ 38          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...         │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "D"  ┆ 38          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "E"  ┆ 30          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "F"  ┆ 27          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "G"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "H"  ┆ 38          │
╰──────┴─────────────╯

In [12]:
data = pl.read_csv('europe_train.csv')

In [13]:
data.head()

shape: (5, 15)
╭──────┬────────────┬────────────┬────────────┬─────┬──────────┬───────────┬───────────┬───────────╮
│ sna  ┆ displaceme ┆ weight in  ┆ cylinders  ┆ ... ┆ model    ┆ feul      ┆ drivechai ┆ gearingty │
│ ---  ┆ nt in inch ┆ kg         ┆ ---        ┆     ┆ ---      ┆ ---       ┆ n         ┆ pe        │
│ i64  ┆ ---        ┆ ---        ┆ f64        ┆     ┆ str      ┆ str       ┆ ---       ┆ ---       │
│      ┆ f64        ┆ f64        ┆            ┆     ┆          ┆           ┆ str       ┆ str       │
╞══════╪════════════╪════════════╪════════════╪═════╪══════════╪═══════════╪═══════════╪═══════════╡
│ 2212 ┆ 121.071    ┆ null       ┆ 4          ┆ ... ┆ ""       ┆ "others"  ┆ "front"   ┆ "automati │
│      ┆            ┆            ┆            ┆     ┆          ┆           ┆           ┆ c"        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2299 ┆ null       ┆ null       ┆ null       ┆ ... ┆ "y"      ┆ "others"  ┆ ""        ┆ ""        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 579  ┆ 118.996    ┆ 2125       ┆ 4          ┆ ... ┆ "glc300" ┆ "diesel   ┆ "4wd"     ┆ "automati │
│      ┆            ┆            ┆            ┆     ┆          ┆ particula ┆           ┆ c"        │
│      ┆            ┆            ┆            ┆     ┆          ┆ te        ┆           ┆           │
│      ┆            ┆            ┆            ┆     ┆          ┆ filter"   ┆           ┆           │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 647  ┆ 121.864    ┆ null       ┆ null       ┆ ... ┆ "kuga"   ┆ "electric ┆ ""        ┆ "manual"  │
│      ┆            ┆            ┆            ┆     ┆          ┆ /diesel   ┆           ┆           │
│      ┆            ┆            ┆            ┆     ┆          ┆ particula ┆           ┆           │
│      ┆            ┆            ┆            ┆     ┆          ┆ te        ┆           ┆           │
│      ┆            ┆            ┆            ┆     ┆          ┆ filt..."  ┆           ┆           │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1577 ┆ 60.963     ┆ null       ┆ 3          ┆ ... ┆ "twingo" ┆ "super    ┆ "front"   ┆ "manual"  │
│      ┆            ┆            ┆            ┆     ┆          ┆ 95"       ┆           ┆           │
╰──────┴────────────┴────────────┴────────────┴─────┴──────────┴───────────┴───────────┴───────────╯

In [14]:
type(data)

pypolars.frame.DataFrame

In [15]:
pandas_df = data.to_pandas()

In [16]:
type(pandas_df)

pandas.core.frame.DataFrame

# Lazy Mode

In [17]:
import pypolars as pl
from pypolars.lazy import *
lazy_df = df.lazy()

In [18]:
lazy_df

In [20]:
lazy_df.collect()

shape: (8, 2)
╭──────┬─────────────╮
│ City ┆ Temperature │
│ ---  ┆ ---         │
│ str  ┆ i64         │
╞══════╪═════════════╡
│ "A"  ┆ 30          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "B"  ┆ 27          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "C"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "D"  ┆ 38          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "E"  ┆ 30          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "F"  ┆ 27          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "G"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "H"  ┆ 38          │
╰──────┴─────────────╯

In [21]:
lazy_df = lazy_df.filter(col('Temperature')>(30))

In [23]:
lazy_df.collect()

shape: (4, 2)
╭──────┬─────────────╮
│ City ┆ Temperature │
│ ---  ┆ ---         │
│ str  ┆ i64         │
╞══════╪═════════════╡
│ "C"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "D"  ┆ 38          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "G"  ┆ 32          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "H"  ┆ 38          │
╰──────┴─────────────╯